@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>PLC信息配置管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <!--<div class="row">-->
                            <!--<div class="col-sm-3">-->
                                <!--<#NameCon id="condition" name="名称" />-->
                            <!--</div>-->
                            <!--<div class="col-sm-3">-->
                                <!--<#button name="搜索" icon="fa-search" clickFun="PlcConfig.search()"/>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="hidden-xs" id="PlcConfigTableToolbar" role="group">
                            @if(shiro.hasPermission("/plcConfig/add")){
                                <#button name="添加" icon="fa-plus" clickFun="PlcConfig.openAddPlcConfig()"/>
                            @}
                            @if(shiro.hasPermission("/plcConfig/update")){
                                <#button name="修改" icon="fa-edit" clickFun="PlcConfig.openPlcConfigDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/plcConfig/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="PlcConfig.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="PlcConfigTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/business/plcConfig/plcConfig.js"></script>
@}
